.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
/doc/
/Meta/
inst/doc/
research/
datasets/
TODO.md
data-raw/
paper/
Generalized four-dimensional scientific cdr economic growth model.pdf
CDREGM.Rcheck/
CDREGM_*.tar.gz
tmp/*
!tmp/implementation.md

